// Color Schema
$primary: #574d9b;
$purple: #574d9b;
$purple-dark: #403883;
$btn-primary: #03a9f4;
$btn-secondary: #e91e63;
$btn-danger: #e74c3c;
$btn-success: #4caf50;
$btn-warning: #f0ad4e;
$btn-info: #5bc0de;
$btn-dark: #18232f;
$btn-light: #eceff1;
$btn-dark-color: #1d1d1d;
$btn-light-color: #fff;
